@import "global.css";
@import "header.css";
@import "footer.css";
@import "contacts.map.css";
@import "contacts.form.css";

.contacts-main {
  padding: 0 24px;
}
@media (min-width: 769px) {
  .contacts-main {
    padding: 0 32px;
  }
}

@media (min-width: 992px) {
  .contacts-main {
    padding: 0 40px;
  }
}