@import "global.css";
@import "header.css";
@import "footer.css";

.main-content {
  background-color: var(--ui-light-accent-color);
}

.main-content__title {
  font-family: var(--font-family-primary);
  font-size: 50px;
  padding-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.destination {
  width: 80%;
  display: flex;
  background-color: var(--bg-color-primary);
  overflow: hidden;
  margin: 20px auto;
  flex-wrap: wrap;
  max-width: 1200px;
}

.destination__image-wrapper {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.destination__image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.destination__details {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .destination {
    flex-direction: column;
  }

  .destination__image-wrapper,
  .destination__details {
    flex: none;
    width: 100%;
  }

  .destination__details {
    padding: 10px;
  }
}

.destination__title {
  margin-top: 50px;
  font-size: 1.5em;
}

.destination__dates {
  color: var(--text-color-medium-light);
  margin-top: 20px;
}

.destination__price {
  font-family: var(--font-family-third);
  margin-top: 20px;
  margin-bottom: 15px;
}

.destination__description {
  font-family: var(--font-family-third);
  line-height: 1.6;
  margin-bottom: 15px;
}

.destination__link {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 2px solid var(--text-color-medium-light);
  border-radius: 50px;
  color: var(--text-color-dark);
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.destination__link:hover {
  background-color: var(--text-color-medium-light);
  border-color: var(--bg-color-primary);
  color: var(--bg-color-primary);
}



.destination__form__background {
  background: linear-gradient(rgba(44, 59, 78, 0.9), rgba(44, 59, 78, 0.9)),
    url(../img/one-tour/bottom.jpg);
  background-size: cover;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 50px;
}

.destination__contacts__title {
  display: flex;
  margin: auto;
  font-weight: bold;
  font-family: var(--font-family-primary);
  color: var(--text-color-primary);
  font-size: 2em;
  text-align: center;
  justify-content: center;
  margin: 0px 20px;
  letter-spacing: 3px;
}

.destination__contacts__text {
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--text-color-secondary);
  font-family: var(--font-family-third);
  line-height: 25px;
  letter-spacing: 1px;
  margin: 5px;
}

.destinations__form {
  background-color: var(--bg-color-primary);
  display: flex;
  flex: 0.5;
  flex-direction: column;
  min-height: 400px;
  min-width: 200px;
  max-width: 570px;
  align-items: center;
  justify-content: center;
  padding: 10px 40px;
  margin: auto;
}

.destination__contacts__input-fields {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.destination__contacts__input {
  margin-bottom: 24px;
  font-family: var(--font-family-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  background-color: rgba(37, 54, 74, 0.12);
  border: none;
  padding: 12px 24px;
  border-radius: 34px;
}

.destination__trip {
  margin-top: 24px;
  font-family: var(--font-family-secondary);
  font-size: 0.875rem;
  font-weight: 400;
  background-color: rgba(37, 54, 74, 0.12);
  border: none;
  padding: 12px 24px;
  border-radius: 34px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

/*.destination__contacts__input:focus {
  outline: auto;
  outline-color: var(--input-focus-color-primary);
}*/

.destination__contacts__submit {
  padding: 15px 20px;
  margin-top: 56px;
  font-size: 16px;
  color: var(--text-color-light);
  background-color: var(--icon-background);
  border: none;
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.destination__contacts__submit:hover {
  background-color: var(--text-color-light);
  color: var(--icon-background);
}

.destination {
  opacity: 0; 
  transition: opacity 2s ease-in-out; 
}