travels-gallery {
    text-align: center;
    color: rgb(37, 54, 74);
    font-size: 41px;
    }
    travels-description {
    text-align: center;
    color: rgb(37, 54, 74);
    font-size: 16px;
    }