.gallery-title {
  text-align: center;
  font-size: 48px;
  margin: 20px 10px;
  padding: 5px;
  font-family: var(--contacts-font-playfair);
  color: var(--text-color-primary);
}

.gallery-description {
  text-align: center;
  font-size: 15px;
  margin: 10px 10px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
}

.gallery-container {
  background-color: var(--bg-color-primary);
  max-width: 1200px;
  margin: auto;
}

.gallery-images {
  display: grid;
 gap: 5px;
 padding-top: 50px;
}


@media (min-width: 300px) {
  .gallery-images {
grid-template-columns: 1fr;
  }

  .gallery-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 29px;
  }

}


@media (min-width: 600px) {
  .gallery-images {
grid-template-columns: 1fr 1fr;
  }

  .gallery-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 34px;
  }

}
@media (min-width: 800px) {
  .gallery-images {
grid-template-columns: repeat(4, 1fr);
  }

  .gallery-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 48px;
  }

}
@media (min-width: 1200px) {
  .gallery-images {
grid-template-columns: repeat(4, 1fr);
  }
  .gallery-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 48px;
  }
}