.travels-gallery {
  text-align: center;
  color: var(--text-color-dark);
  margin: 20px 10px;
  padding: 5px;
  font-family: var(--contacts-font-playfair);
  color: var(--text-color-primary);
}

.travels-description {
  text-align: center;
  color: rgb(81, 92, 109);
  font-size: 16px;
  margin: 10px 10px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
}

.travels-container {
  background-color: var(--bg-color-primary);
  max-width: 1200px;
  margin: auto;
  display: block;
}

.travels-images {
 display: grid;
 gap: 5px;
}


@media (min-width: 300px) {
  .travels-images {
grid-template-columns: 1fr;
  }

  .travels-gallery {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 29px;
  }

}


@media (min-width: 600px) {
  .travels-images {
grid-template-columns: 1fr 1fr;
  }

  .travels-gallery {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 34px;
  }

}
@media (min-width: 800px) {
  .travels-images {
grid-template-columns: repeat(5, 1fr);
  }

  .travels-gallery {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 41px;
  }

}
@media (min-width: 1200px) {
  .travels-images {
grid-template-columns: repeat(5, 1fr);
  }

  .travels-gallery {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 48px;
  }

}

.travels-container {
  background-image: url(../img/gallery-card/backgroundwhite.jpg);
  
}
        
.button-container{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.see-more-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-dark);
  background-color: var(--bg-color-primary);
  border: 2px solid #ce9848;
  border-radius: 50px;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
}

.see-more-button:hover {
  background-color: #ce9848;
  border-color: #ce9848;
}

.see-more-button img {
  vertical-align: middle;
  margin-right: 10px;
}