
.gallery-title {
  text-align: center;
  font-size: 48px;
  margin: 20px 10px;
  padding: 5px;
  font-family: var(--contacts-font-playfair);
  color: var(--text-color-primary);
}


.gallery-title, .gallery-description {
  opacity: 0;
  animation: fadeIn 3s forwards, changeColor 5s 5s forwards;
  color: var(--input-focus-color-primary);
}

@keyframes fadeIn {
  to {
      opacity: 1;
  }
}

@keyframes changeColor {
  from {
      color: var(--input-focus-color-primary);
  }
  to {
    color: var(--text-color-primary);
  }
}

.gallery-description {
  text-align: center;
  font-size: 15px;
  margin: 10px 10px;
  font-family: var(--font-family-secondary);
  color: var(--text-color-secondary);
}

.gallery-container {
  background-color: var(--bg-color-primary);
  max-width: 1200px;
  margin: auto;
}

.gallery-images {
  display: grid;
  gap: 20px;
  padding-top: 50px;
  transition: transform 0.3s ease;
}

.gallery-img:hover {
  transform: scale(1.5);
}


@media (min-width: 300px) {
  .gallery-images {
    grid-template-columns: 1fr;
  }

  .gallery-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 29px;
  }

}


@media (min-width: 600px) {
  .gallery-images {
    grid-template-columns: 1fr 1fr;
  }

  .gallery-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 34px;
  }

}

@media (min-width: 800px) {
  .gallery-images {
    grid-template-columns: repeat(3, 1fr);
  }

  .gallery-title {
    text-align: center;
    color: var(--text-color-primary);
    font-size: 48px;
  }

}