.header__hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../img/header/hero-background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.header__hero-title {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}
.header__hero-title > h1 {
  font-weight: bold;
  font-size: 70px;
  margin-bottom: 5px;
}

.header__hero-title p {
  font-size: 20px;
}

.header__button__let-us-sail a {
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 20px;
  background-color: #d0bd8c;
  color: #f1f0e8;
  text-decoration: none;
}

.header__button__let-us-sail a:hover {
  background-color: #f1f0e8;
  color: #d0bd8c;
}

.header__hero-title,
.header__button__let-us-sail {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}

.header__hero-title.visible,
.header__button__let-us-sail.visible {
  opacity: 1;
  transform: translateX(0);
}

.header__hero-title.reset,
.header__button__let-us-sail.reset {
  opacity: 0;
  transform: translateX(-50px);
}
