/* General styles */
.header__nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ui-light-shade-color);
  padding: 10px 20px;
}

.header__phone {
  font-size: 16px;
}

.header__phone a {
  font-family: var(--font-family-secondary);
  font-weight: 500;
  color: var(--ui-brand-color);
  transition: font-size 0.3s ease-in-out;
}

.header__phone a:hover {
  font-size: 18px;
}

.header__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  text-decoration: none;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.header__social-link i {
  color: var(--ui-brand-color);
  font-size: 20px;
  transition: color 0.3s;
}

.header__social-link:hover {
  background-color: var(--ui-brand-color);
}

.header__social-link:hover i {
  color: var(--ui-light-shade-color);
}

.header__social-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
}

.header__social-icons a {
  margin-left: 15px;
  width: 40px;
  height: 40px;
}

.header__hero-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--ui-dark-accent-color);
  padding: 20px;
  position: relative;
}
.logo {
  display: block;
}

.logo img {
  width: 150px;
}

.header__nav-menu a {
  font-family: var(--font-family-secondary);
  text-decoration: none;
  color: var(--ui-light-shade-color);
  font-size: 15px;
}

.header__nav-menu a:hover {
  background-color: transparent;
  color: var(--ui-brand-color);
}

.header__button__send-a-request a {
  font-family: var(--font-family-secondary);
  font-weight: 700;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 20px;
  font-size: 15px;
  background-color: var(--ui-brand-color);
  color: var(--ui-light-shade-color);
  text-decoration: none;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.header__button__send-a-request a:hover {
  background-color: var(--ui-light-accent-color);
  color: var(--ui-brand-color);
}

/* Media queries */

@media (max-width: 1000px) {
  .header__nav-menu {
    display: none;
  }

  .header__hero-nav.open .header__nav-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: var(--ui-dark-accent-color);
    z-index: 1000;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 40px;
    right: 50px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 1001;
  }

  .menu__btn > span {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--ui-light-accent-color);
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
  }

  .menu__btn span:nth-child(1) {
    transform: translateY(-10px);
  }

  .menu__btn span:nth-child(3) {
    transform: translateY(10px);
  }

  .header__hero-nav.open .menu__btn span {
    background-color: var(--ui-light-accent-color);
  }

  .header__hero-nav.open .menu__btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header__hero-nav.open .menu__btn span:nth-child(2) {
    opacity: 0;
  }

  .header__hero-nav.open .menu__btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .header__hero-nav.open {
    overflow: hidden;
  }
  html.no-scroll,
  body.no-scroll {
    overflow: hidden;
  }
}

@media (min-width: 1001px) {
  .header__nav-menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .header__nav-menu li {
    margin-left: 20px;
  }

  .header__button__send-a-request {
    margin-left: 20px;
  }

  #burger-menu {
    display: none;
  }
}
