@import "global.css";

.contacts__section {
  background-image: url(../img/index-contacts/contacts-map.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 55% 25%;
}
.contacts__section-container-wrapper {
  background: linear-gradient(0deg, #25364a 0%, rgba(37, 54, 74, 0.8) 120%);
}
.contacts__section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 90px 24px 35px;
}
.contacts__block-background {
  background-color: var(--bg-color-primary);
}
.contacts__intro {
  width: 100%;
  text-align: center;
  .contacts__title {
    color: var(--text-color-light);
    font-family: var(--font-family-primary);
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: 0.126rem;
    line-height: 3rem;
  }
  .contacts__description {
    color: var(--text-color-light);
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.9px;
    line-height: 1.6rem;
    margin-top: 25px;
  }
}
.contacts__info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contacts__info {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 31px 27px;
  .contacts__block {
    text-align: center;
  }
  .contacts__subtitle {
    font-family: var(--font-family-primary);
    color: var(--text-color-primary);
    font-size: 1.375rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  .contacts__item {
    color: var(--text-color-secondary);
    font-family: var(--font-family-secondary);
    font-size: 0.94rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.64rem;
    list-style-type: none;
  }
  .contacts__link {
    text-decoration: none;
    color: var(--text-color-secondary);
    font-family: var(--font-family-secondary);
    font-size: 0.94rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1.64rem;
  }
}

.contacts__social {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  margin-top: 14px;

  .contacts__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--bg-color-secondary);
    border-radius: 50%;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  .contacts__social-link i {
    color: var(--bg-color-secondary);
    font-size: 18px;
  }
  .contacts__social-link:hover {
    background-color: var(--bg-color-secondary);
  }
  .contacts__social-link i:hover {
    color: var(--bg-color-primary);
  }
}

.contacts__form-index {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 43px 45px;
  margin-top: 45px;
}

.contacts__input-fields {
  width: 100%;
  display: flex;
  flex-direction: column;

  input {
    border: none;
    padding: 12px 24px;
    border-radius: 34px;
  }
  .contacts__input {
    margin-bottom: 24px;
    font-family: var(--font-family-secondary);
    font-size: 0.875rem;
    font-weight: 400;
    background-color: rgba(37, 54, 74, 0.12);
  }
  .contacts__input:focus {
    outline: auto;
    outline-color: var(--input-focus-color-primary);
  }
  .contacts__input--email {
    margin-bottom: 0;
  }
  .contacts__submit {
    border: none;
    padding: 12px 24px;
    border-radius: 34px;
    margin-top: 56px;
    background-color: var(--bg-color-secondary);
    color: var(--text-color-light);
    font-family: var(--font-family-secondary);
    font-size: 0.875rem;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
  }
  .contacts__submit:hover {
    background-color: var(--bg-color-light);
    color: var(--bg-color-secondary);
  }
}

@media (min-width: 769px) {
  .contacts__info-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;
  }
  .contacts__intro .contacts__title {
    font-size: 2.5625rem;
  }
  .contacts__subtitle {
    font-size: 1.4375rem;
  }
  .contacts__info {
    padding: 28px 34px;
    width: 50%;
    align-self: stretch;
  }
  .contacts__form-index {
    padding: 52px 55px;
    width: 50%;
    align-self: stretch;
  }
}
@media (min-width: 992px) {
  .contacts__intro .contacts__title {
    font-size: 3rem;
  }
  .contacts__subtitle {
    font-size: 1.5rem;
  }
  .contacts__form-index {
    padding: 70px 75px;
  }
}
