.sea-is-calling {
  padding: 90px 0 100px;
  width: 100%;
  margin: auto;
  background-color: var(--text-color-light);
  display: flex;
  justify-content: center;
}

.sea-is-calling__content {
  padding: 0 40px;
  max-width: 1200px;
}

.sea-is-calling__title {
  font-family: var(--font-family-primary);
  color: var(--text-color-dark);
  font-size: 3rem; /*48px*/
  letter-spacing: 0.08925rem; /*1.428px*/
  line-height: 2.125rem; /*34px*/
  text-align: center;
}

.sea-is-calling__blocks {
  gap: 15px;
  margin-top: 50px;
}

.sea-is-calling__subtitle {
  font-family: var(--font-family-primary);
  color: var(--text-color-dark);
  font-size: 1.5rem; /* 24px */
  letter-spacing: 0.061875rem; /*0.99px*/
  text-align: left;
}

.sea-is-calling__description {
  font-family: var(--font-family-secondary);
  color: var(--text-color-medium);
  font-size: 0.94rem; /* 15px */
  letter-spacing: 0.03rem; /* 0.465px */
  min-width: 270px;
  line-height: 1.8rem;
  padding: 0 15px ;
  overflow-wrap: break-word;
}

.sea-is-calling__block-with-image {
  padding: 34px 33px;
  background-color: var(--ui-light-accent-color);
  min-width: 230px;
  margin-top: 50px;
}

.sea-is-calling__image {
  width: 100%;
}

.sea-is-calling__text {
  margin-top: 20px;
}

@media(min-width:768px){
  .sea-is-calling__blocks{
  display: flex;
  }
  .sea-is-calling__block-with-image{
    margin: 0;
  }
}
