.crew-services {
  padding: 90px 0 100px;
  width: 100%;
  margin: auto;
  background-color: var(--text-color-light);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.crew-services__title-content {
  font-family: var(--font-family-primary);
  color: var(--text-color-dark);
  font-size: 2.125rem; /*34px*/
  letter-spacing: 0.08925rem; /*1.428px*/
  line-height: 2.125rem; /*34px*/
  text-align: center;
}

.crew-services__title {
  display: flex;
  justify-content: center;
}

.crew-services__options {
  position: relative;
  display: flex;
  align-items: flex-start;
}

.crew-services__option-image {
  padding: 31px 27px;
  height: 40%;
  width: 100%;
}

.crew-services__options-option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.crew-services__subtitle {
  font-family: var(--font-family-primary);
  color: var(--text-color-dark);
  font-size: 1.5rem; /* 24px */
  letter-spacing: 0.061875rem; /*0.99px*/
  text-align: center;
}

.crew-services__description {
  font-family: var(--font-family-secondary);
  color: var(--text-color-medium);
  font-size: 0.94rem; /* 15px */
  letter-spacing: 0.03rem; /* 0.465px */
  min-width: 270px;
  line-height: 1.8rem;
  overflow-wrap: break-word;
  padding: 31px 27px;
  text-align: center;
}

.crew-services__next-option,
.crew-services__prev-option {
  height: 50px;
  max-width: 30px;
  border: none;
  background-color: white;
}

.crew-services__carousel-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: white;
  max-height: 30px;
}

@media (max-width: 765px) {
  .crew-services__options {
    flex-wrap: wrap;
  }
}

@media (min-width: 1080px) {
   .crew-services__next-option,
  .crew-services__prev-option {
    display: none;
  }
}

