.destinations {
  padding: 90px 32px;
  min-width: 270px;
  background: linear-gradient(rgb(37, 54, 74, 0.85), rgb(37, 54, 74, 0.8)),
    url(../img/our-services/our-service_spectacular-destinations-bg.jpeg);
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
}

.destinations__content {
  max-width: 1200px;
  align-items: center;
}

.destinations__title {
  font-family: var(--font-family-primary);
  color: var(--bg-color-primary);
  font-size: 2.125rem; /*34px*/
  letter-spacing: 0.08925rem; /*1.428px*/
  line-height: 2.125rem; /*34px*/
  text-align: center;
}

.destinations__subtitle {
  font-family: var(--font-family-secondary);
  color: var(--bg-color-light);
  font-size: 1rem; /* 16px */
  letter-spacing: 0.056rem; /*0.896px*/
  font-weight: 500;
  text-align: center;
  margin-top: 35px;
}

.destinations__list {
  display: grid;
  gap: 30px;
  margin-top: 45px;
  max-width: 1200px;
  align-items: center;
}

.destination-place {
  background-color: var(--text-color-light);
  padding: 31px 27px;
  height: 100%;
  width: 100%;
}

.destination-place__image {
  width: 100%;
  box-sizing: border-box;
  aspect-ratio: 12/9;
  object-fit: cover;
  cursor: pointer;
}

.destination-place__image-description {
  font-family: var(--font-family-third);
  color: var(--text-color-dark);
  font-size: 1.125rem; /*18px*/
  letter-spacing: 0.056rem; /*0.896px*/
  margin-top: 20px;
  text-align: center;
}

.destinations__lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: none;
}

.destinations__lightbox-image {
  max-width: 80%;
  max-height: 80%;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.destinations__lightbox__btn-prev, .destinations__lightbox__btn-next {
  font-size: 1rem;
  color: var(--bg-color-primary);
  background-color: transparent;
  border-color: transparent;
}

@media (min-width: 768px) {
  .destinations__list {
    grid-template-columns: 1fr 1fr;
  }
  .destinations__title {
    font-size: 2.56rem; /*41px*/
  }

  .destinations__lightbox {
    gap: 1rem;
  }

  .destinations__lightbox__btn-prev, .destinations__lightbox__btn-next {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .destinations__list {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .destinations__title {
    font-size: 3rem; /*48px*/
  }
}