.fleet-cards {
  background-color: var(--bg-color-light);

  &:nth-child(even) {
    background-color: var(--bg-color-primary);
  }

  .fleet-card {
    padding: 85px 20px 90px;

    .fleet-card__title {
      font-family: var(--font-family-primary);
      font-weight: 700;
      font-size: 34px;
      line-height: 34px;
      letter-spacing: 1.5px;
      margin-bottom: 20px;
    }

    .fleet-card__description {
      font-family: var(--font-family-secondary);
      font-weight: 500;
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.8px;
      margin-bottom: 30px;
    }

    .fleet-card__fleet-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .fleet-card__fleet-container__img-wrapper {
        max-width: 717px;
        aspect-ratio: 1 / 0.85;
        overflow: hidden;

        .fleet-card__fleet-container-img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            transform: scale(1.1);
            filter: saturate(2);
          }
        }
      }
      .fleet-card__fleet-container-box {
        margin: 50px 0;

        .fleet-card__fleet-container-box__item {
          display: flex;
          flex-direction: column;
          padding: 10px 0;

          .fleet-card__fleet-container-box__item-name {
            font-family: var(--font-family-third);
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 1px;
            padding: 0 0 10px;
          }

          .fleet-card__fleet-container-box__item-value {
            font-family: var(--font-family-third);
            font-weight: 700;
            font-size: 18px;
            line-height: 30px;
            letter-spacing: 1px;
            color: var(--text-color-medium-light);
          }
        }

        .fleet-card__fleet-container-box__text-wrapper {
          padding: 25px 0;

          .fleet-card__fleet-container-box__text {
            font-family: var(--font-family-secondary);
            font-weight: 500;
            font-size: 15px;
            line-height: 26px;
            letter-spacing: 0.5px;
          }
        }

        .fleet-card__fleet-container-link {
          font-family: var(--font-family-secondary);
          font-weight: 700;
          font-size: 14px;
          margin-top: 20px;
          display: inline-block;
          text-align: center;
          width: 100%;
          max-width: 160px;
          height: 38px;
          line-height: 34px;
          border: 2px solid var(--border-color);
          border-radius: 34px;
          color: var(--text-color-primary);
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            background-color: var(--hover-color-secondary);
            color: var(--hover-color-primary);
          }
        }
      }
    }

    .fleet-card__fleet-container-imgbox {
      display: flex;
      flex-wrap: wrap;

      .fleet-card__fleet-container-imgbox__wrapper {
        aspect-ratio: 1 / 0.85;
        overflow: hidden;

        &:nth-of-type(3) .fleet-card__fleet-container-imgbox__item {
          object-position: 50% 0;
        }

        .fleet-card__fleet-container-imgbox__item {
          width: 100%;
          height: 100%;
          object-fit: cover;
          transition: 0.5s;

          &:hover {
            transition: 0.5s;
            transform: scale(1.1);
            filter: saturate(2);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .fleet-cards {
    .fleet-card {
      .fleet-card__title {
        font-size: 41px;
      }

      .fleet-card__fleet-container {
        flex-wrap: nowrap;
        align-items: flex-start;

        .fleet-card__fleet-container-box {
          min-width: 50%;
          margin: 0 0 50px;

          .fleet-card__fleet-container-box__item {
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            padding: 2px 5px;

            .fleet-card__fleet-container-box__item-name {
              min-width: 50%;
              margin-left: 20px;
              padding-top: 5px;
            }
          }

          .fleet-card__fleet-container-box__text-wrapper {
            padding: 15px 25px;
          }
        }

        .fleet-card__fleet-container-link {
          margin-left: 25px;
        }
      }

      .fleet-card__fleet-container-imgbox {
        flex-wrap: nowrap;
        justify-content: center;
        .fleet-card__fleet-container-imgbox__wrapper {
          min-width: 33.33%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .fleet-cards {
    .fleet-card {
      .fleet-card__title {
        font-size: 48px;
      }
    }
  }
}
