<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contacts</title>
    <link
      rel="shortcut icon"
      type="img/x-icon"
      href="./img/global/favicon.ico"
    />
    <link rel="stylesheet" href="css/contacts.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/621e7291f0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="contacts-main">
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="contacts.map.partial.html"
      ></section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="contacts.form.partial.html"
      ></section>
    </main>
    <footer
      data-hx-trigger="load"
      data-hx-swap="outerHTML"
      data-hx-get="footer.partial.html"
    ></footer>
    <script src="js/contacts.js"></script>
  </body>
</html>
