<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Destinations</title>
    <link
      rel="shortcut icon"
      type="img/x-icon"
      href="./img/global/favicon.ico"
    />
    <link rel="stylesheet" href="css/destinations.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/621e7291f0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial.html"
      ></nav>
    </header>
    <main class="main-content">
      <h1 class="main-content__title">Destinations</h1>
      <div class="destination">
        <div class="destination__image-wrapper">
          <img
            class="destination__image-wrapper"
            src="img/destinations/croatia.webp"
            width="300"
            alt="image of Croatia"
            class="destination__image"
          />
        </div>
        <div class="destination__details">
          <h2 class="destination__title">Affable Croatian Isles</h2>
          <p class="destination__dates">JUN | JUL | AUG | SEP</p>
          <p class="destination__price">From €650 p.p.</p>
          <p class="destination__description">
            Croatia is an amazing country, with almost untouched nature,
            incredibly beautiful harbors and small islands. We are going on a
            7-day voyage on these islands! Bathing in the open sea,
            contemplation of the wonderful nature, green woods, sandy beaches
            and red tile roofs of ancient houses are waiting for you. We start
            from Pula and go through the islands of Krk, Hvar, Cres, Rab, Mljet
            and 10 more islands!
          </p>
          <a
            data-component="button"
            href="one-tour.html"
            class="destination__link"
          >
            <span>Join the tour</span>
          </a>
        </div>
      </div>
      <div class="destination">
        <div class="destination__details">
          <h2 class="destination__title">Vacation Around Amalfi</h2>
          <p class="destination__dates">JUN | JUL | AUG | SEP</p>
          <p class="destination__price">From €800 p.p.</p>
          <p class="destination__description">
            The majestic and legendary Amalfi Coast is surrounded by historical
            charm and scenic romanticism, this is the best place for yachting
            with its emerald waters. Swimming and snorkeling, the archaeological
            ruins, the wonders of local cuisine and much more are waiting for
            you. The gentle sea breeze makes the rays of the sun soft, and the
            climate is ideal for your summer holidays.
          </p>
          <a
            data-component="button"
            href="one-tour.html"
            class="destination__link"
          >
            <span>Join the tour</span>
          </a>
        </div>
        <div class="destination__image-wrapper">
          <img
            class="destination__image-wrapper"
            src="img/destinations/amalfi.webp"
            alt="image of Amalfi"
          />
        </div>
      </div>
      <div class="destination">
        <div class="destination__image-wrapper">
          <img
            class="destination__image-wrapper"
            src="img/destinations/norway.webp"
            alt="image of Norway"
          />
        </div>
        <div class="destination__details">
          <h2 class="destination__title">Through the Fjords of Norway</h2>
          <p class="destination__dates">JUN | JUL | AUG | SEP</p>
          <p class="destination__price">From €900 p.p.</p>
          <p class="destination__description">
            For 7 days of sailing, you will see what the country of the Vikings
            is so wonderful about. We will go through the fjords, stopping in
            local villages, where we’ll eat crabs, stroll through picturesque
            Bergen, see the colorful Roosendaal gardens, admire the fjords abyss
            from the top of the mountain, spend a night in a colorful fishing
            village. And of course we will go fishing for trout and salmon.
          </p>
          <a
            data-component="button"
            href="one-tour.html"
            class="destination__link"
          >
            <span>Join the tour</span>
          </a>
        </div>
      </div>
      <div class="destination">
        <div class="destination__details">
          <h2 class="destination__title">Non-touristic Turkey</h2>
          <p class="destination__dates">JUN | JUL | AUG | SEP</p>
          <p class="destination__price">From €550 p.p.</p>
          <p class="destination__description">
            Seven days of yachting will help you truly discover another Turkey.
            Every day will be different from the previous one - incredibly
            picturesque coasts, cozy bays, ancient cities, original
            non-touristic flavor with hospitable people. The lovers of scuba
            diving will be surprised by the diverse marine world - there are sea
            urchins with unrealistically long needles, colorful fish, sea
            turtles and more.
          </p>
          <a
            data-component="button"
            href="one-tour.html"
            class="destination__link"
          >
            <span>Join the tour</span>
          </a>
        </div>
        <div class="destination__image-wrapper">
          <img
            class="destination__image-wrapper"
            src="img/destinations/turkey.webp"
            alt="image of Turkey"
          />
        </div>
      </div>
      <div class="destination">
        <div class="destination__image-wrapper">
          <img
            class="destination__image-wrapper"
            src="img/destinations/greece.webp"
            alt="image of Greece"
          />
        </div>
        <div class="destination__details">
          <h2 class="destination__title">Ancient Greece</h2>
          <p class="destination__dates">JUN | JUL | AUG | SEP</p>
          <p class="destination__price">From €750 p.p.</p>
          <p class="destination__description">
            Greece is not only about Athens or Halkidiki. This country has a
            great history and islands of amazing beauty. We offer a 10-day trip
            to the most spectacular places in Greece, with docking at ports and
            exciting excursions. You will see the islands of Zakynthos, Aegina,
            Methana, Paros, Hydra, Spetses and more. Amazing adventures, diving
            and even fishing at will are waiting for you!
          </p>
          <a
            data-component="button"
            href="one-tour.html"
            class="destination__link"
          >
            <span>Join the tour</span>
          </a>
        </div>
      </div>
      <div class="destination">
        <div class="destination__details">
          <h2 class="destination__title">Spain + Nightlife at Ibiza</h2>
          <p class="destination__dates">JUN | JUL | AUG | SEP</p>
          <p class="destination__price">From €900 p.p.</p>
          <p class="destination__description">
            We leave from Valencia, then travel 7 days along Costa Blanca
            (visiting the cities of Javea, Gandia, Denia, Calpe, Althea) and
            return to Valencia. In addition, we will stay for 2 nights in Ibiza,
            where you can dance all night in the most famous nightclubs - Pacha,
            Privilege, Space, Es Paradis or any other at your choice. You can
            admire amazing landscapes, turquoise sea and parties every day!
          </p>
          <a
            data-component="button"
            href="one-tour.html"
            class="destination__link"
          >
            <span>Join the tour</span>
          </a>
        </div>
        <div class="destination__image-wrapper">
          <img
            class="destination__image-wrapper"
            src="img/destinations/spain.webp"
            alt="image of Spain"
          />
        </div>
      </div>
      <!-- <section class="form_main">
        <div class="contacts__background">
          <form
            id="contact-form"
            class="contacts__form"
            action="https://formspree.io/f/xrbzgopb"
            method="post"
          >
            <h3 class="contacts__title">Want to Join Us at Any Tour?</h3>
            <p class="contacts__text">
              Fill out the form and we will contact you soon to clear all the
              details and book a tour for you.
            </p>
            <div class="contacts__input-fields">
              <input
                class="contacts__input"
                type="text"
                name="name"
                placeholder="Name*"
                required
              />
              <input
                class="contacts__input"
                type="tel"
                name="phone"
                placeholder="Phone number*"
                required
              />
              <input
                class="contacts__input"
                type="email"
                name="email"
                placeholder="E-mail*"
                required
              />
              <select class="accomodation">
                <option value="" disabled selected aria-required="true">
                  Choose your trip
                </option>
                <option class="variant__option" value="croatian-isles">
                  Affable Croatian Isles
                </option>
                <option class="variant__option" value="amalfi">
                  Vacation Around Amalfi
                </option>
                <option class="variant__option" value="fjords-norway">
                  Through the Fjords of Norway
                </option>
                <option class="variant__option" value="turkey">
                  Non-touristic Turkey
                </option>
                <option class="variant__option" value="greece">
                  Ancient Greece
                </option>
                <option class="variant__option" value="ibiza">
                  Spain + Nightlife at Ibiza
                </option>
              </select>
              <input
                class="contacts__submit"
                type="submit"
                value="Send a Request"
              />
            </div>
          </form>
        </div>
      </section>-->
    </main>
    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="footer.partial.html"
      ></nav>
    </footer>
    <script src="js/destinations.js"></script>
  </body>
</html>
