<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>One Tour</title>
    <link
      rel="shortcut icon"
      type="img/x-icon"
      href="./img/global/favicon.ico"
    />
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://kit.fontawesome.com/621e7291f0.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.header-nav.partial"
      ></nav>
    </header>
    <main>
      <section class="vacation__background">
        <div class="vacation-around-amalfi-inner__background">
          <h2>
            <span class="vacation-around-amalfi__logo"
              >Vacation Around Amalfi</span
            >
          </h2>
          <p>
            <span class="vacation-around-amalfi__text"
              >Departures every Saturday
            </span>
            <span class="vacation-around-amalfi__text"
              >15 June - 21 September</span
            >
            <span class="vacation-around-amalfi__text"
              >Price from €800 p.p.</span
            >
          </p>
          <a href="#contact-form"
            ><span class="button__sail">Let's Sail!</span></a
          >
        </div>
      </section>
      <section class="enjoy-the-beauty-of-amalfi">
        <h2 class="general__title">Enjoy the Beauty of Amalfi</h2>
        <div class="enjoy-the-beauty-of-amalfi__image-container">
          <img
            class="enjoy-the-beauty-of-amalfi__picture"
            src="img/one-tour/islandview.jpg"
            alt="Island view"
          />
          <img
            class="enjoy-the-beauty-of-amalfi__picture"
            src="img/one-tour/cityviewfromwater.jpg"
            alt="City view from water"
          />
          <img
            class="enjoy-the-beauty-of-amalfi__picture"
            src="img/one-tour/endoftheisland.jpg"
            alt="End of the island view"
          />
          <img
            class="enjoy-the-beauty-of-amalfi__picture"
            src="img/one-tour/yachtsnearisland.jpg"
            alt="Yachts near island"
          />
          <img
            class="enjoy-the-beauty-of-amalfi__picture"
            src="img/one-tour/peopleswim.jpg"
            alt="People swimming"
          />
          <img
            class="enjoy-the-beauty-of-amalfi__picture"
            src="img/one-tour/mountains.jpg"
            alt="Mountains"
          />
        </div>
      </section>
      <section class="travel-options__background">
        <h2 class="general__title">Travel Options</h2>
        <div class="travel-options">
          <div class="travel-options-cabin">
            <img
              class="travel-options__picture"
              src="img/one-tour/cabin.jpg"
              alt="Picture of Cabin"
            />
            <h3 class="travel-options__title">Cabin</h3>
            <p><span class="travel-options__text">Doubles and twins</span></p>
            <p>
              <span class="travel-options__text">from 800€ per person</span>
            </p>
            <p>
              <span class="travel-options__text"
                >Join the company of travel lovers like you</span
              >
            </p>
            <p>
              <span class="travel-options__text">and party every evening</span>
            </p>
            <a href="#contact-form"><span class="button__order">Order</span></a>
          </div>
          <div class="travel-options-yacht">
            <img
              class="travel-options__picture"
              src="img/one-tour/yacht.jpg"
              alt="Picture of Yacht"
            />
            <h3 class="travel-options__title">Yacht</h3>
            <p><span class="travel-options__text">6-12 guests</span></p>
            <p>
              <span class="travel-options__text">from 3500 € per yacht </span>
            </p>
            <p>
              <span class="travel-options__text"
                >Rent your own yacht and enjoy the trip
              </span>
            </p>
            <p>
              <span class="travel-options__text">the way you like it!</span>
            </p>
            <a href="#contact-form"><span class="button__order">Order</span></a>
          </div>
        </div>
      </section>
      <section class="one-tour-gallery">
        <h2 class="general__title">Gallery</h2>
        <div class="one-tour-gallery__image-container">
          <div class="one-tour-gallery__part">
            <img
              class="one-tour-gallery__picture"
              src="img/one-tour/berthedyacht.jpg"
              alt="Yacht at berth"
            />
            <img
              class="one-tour-gallery__picture"
              src="img/one-tour/manonedgeofyacht.jpg"
              alt="Man standig on edge of yacht"
            />
          </div>
          <div class="one-tour-gallery__part">
            <img
              class="one-tour-gallery__picture"
              src="img/one-tour/womantakessunbathonyacht.jpg"
              alt="Woman takes sunbath"
            />
            <img
              class="one-tour-gallery__picture"
              src="img/one-tour/maninyachtbay.jpg"
              alt="Man looking at yacht in yacht bay"
            />
          </div>
          <div class="one-tour-gallery__part">
            <img
              class="one-tour-gallery__picture"
              src="img/one-tour/womanonbow.jpg"
              alt="Woman standing on bow of yacht"
            />
            <img
              class="one-tour-gallery__picture"
              src="img/one-tour/peoplerestonyacht.jpg"
              alt="People rest on deck of yacht"
            />
          </div>
          <div class="one-tour-gallery__part">
            <img
              class="one-tour-gallery__picture"
              src="img/one-tour/yachtsailnearisland.jpg"
              alt="Yacht sails near island"
            />
          </div>
        </div>
      </section>

      <section class="itinerary">
        <h2 class="general__title">Itinerary</h2>

        <div class="itinerary-day__part">
          <div class="day-number">
            <div class="day-number__picture">
              <img
                class="day__logo"
                src="img/one-tour/dayone.jpg"
                alt="Day One Logo"
              />
            </div>

            <div class="day-number__textual-part">
              <h3 class="day-number__title">Salerno</h3>
              <p class="day-number__text">
                On the first day, our task is to get to the marina get on board
                and give the trip a head up. Skippers provide the yachting
                briefing, you also can buy food and drinks and relax, preparing
                for start.
              </p>
            </div>
          </div>
          <div class="day-number">
            <div class="day-number__picture">
              <img
                class="day__logo"
                src="img/one-tour/daytwo.jpg"
                alt="Day Two Logo"
              />
            </div>
            <div class="day-number__textual-part">
              <h3 class="day-number__title">Positano</h3>
              <p class="day-number__text">
                We go out to sea. Our goal is Positano, a very cozy, beautiful,
                truly Neapolitan town. We will stop in a small city bay, go
                ashore and go for a walk. When we get tired - we will visit one
                of the local home restaurants, where the owner will offer us
                cold wine and fresh seafood.
              </p>
            </div>
          </div>
          <div class="day-number">
            <div class="day-number__picture">
              <img
                class="day__logo"
                src="img/one-tour/daythree.jpg"
                alt="Day Three Logo"
              />
            </div>
            <div class="day-number__textual-part">
              <h3 class="day-number__title">Pompeii</h3>
              <p class="day-number__text">
                We transfer the past of Italy, Pompeii. During the eruption of
                Vesuvius, the city was buried under a multi-meter layer of ash
                in 79 BC, and today there is a huge open-air museum, the legacy
                of UNESCO. In the afternoon, it is possible to bathe offshore
                and have some rest on the yachts
              </p>
            </div>
          </div>
          <div class="day-number">
            <div class="day-number__picture">
              <img
                class="day__logo"
                src="img/one-tour/dayfour.jpg"
                alt="Day Four Logo"
              />
            </div>
            <div class="day-number__textual-part">
              <h3 class="day-number__title">Ischia Island</h3>
              <p class="day-number__text">
                Another aristocratic and fascinating place. The main attraction
                of the island is the majestic castle, guarding the Bay of Naples
                from uninvited guests. We climb the hill and wander along its
                walls. Also, there are thermal springs which are used by local
                SPA-centers. You can visit them at your wish.
              </p>
            </div>
          </div>
          <div class="day-number">
            <div class="day-number__picture">
              <img
                class="day__logo"
                src="img/one-tour/dayfive.jpg"
                alt="Day Five Logo"
              />
            </div>
            <div class="day-number__textual-part">
              <h3 class="day-number__title">Procida, Sorrento</h3>
              <p class="day-number__text">
                Literally half an hour in the morning to the island of Procida-
                and we are having breakfast in its beautiful bay. Then we raise
                the anchor and go to Sorrento - another beautiful, wonderful,
                real Neapolitan town. We spend the evening walking along
                Sorrento: here we will see the church of San Francesco of the
                18th century and the Basilica of St. Antonio.
              </p>
            </div>
          </div>
          <div class="day-number">
            <div class="day-number__picture">
              <img
                class="day__logo"
                src="img/one-tour/daysix.jpg"
                alt="Day Six Logo"
              />
            </div>
            <div class="day-number__textual-part">
              <h3 class="day-number__title">Amalfi</h3>
              <p class="day-number__text">
                On the way to Amalfi we will stop at the Grotta di Smeraldo, a
                cave with real stalactites and stalagmites. It is equipped for
                tourists, everything is beautifully highlighted. Amalfi
                literally built in the cliff. The history in Amalfi is mixed
                with modernity: on the streets along which the Roman emperors
                walked, today there are youth bars and restaurants. It will be
                noisy, fun and romantic. After a night in Amalfi, we set back to
                Salerno not forgetting to take photos and swimming in the sea.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="where-we-start">
        <h2 class="general__title">Where We Start</h2>
        <div class="where-we-start__map">
          <iframe
            class="one-tour__iframe"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3598.571287499887!2d14.767311377719098!3d40.673402781122306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133bc2396154cdc3%3A0xc3702f48656f9d41!2zUGlhenphIGRlbGxhIENvbmNvcmRpYSwgODQxMjMgU2FsZXJubyBTQSwg0IbRgtCw0LvRltGP!5e0!3m2!1suk!2sus!4v1717846133426!5m2!1suk!2sus"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </section>
      <section class="services-included-in-every-tariff">
        <h2 class="services-included-in-every-tariff__title">
          Services Included in Every Tariff
        </h2>
        <div class="services-included-in-every-tariff-all">
          <div class="services-all__part">
            <img
              class="svg__image"
              src="img/one-tour/yacht.svg"
              alt="Yacht Icon"
            />
            <p class="services-all__text">Yacht/Cabin Rental</p>
          </div>
          <div class="services-all__part">
            <img
              class="svg__image"
              src="img/one-tour/captain.svg"
              alt="Captain Icon"
            />
            <p class="services-all__text">Captain</p>
          </div>
          <div class="services-all__part">
            <img
              class="svg__image"
              src="img/one-tour/fuel.svg"
              alt="Fuel Icon"
            />
            <p class="services-all__text">Fuel</p>
          </div>
          <div class="services-all__part">
            <img
              class="svg__image"
              src="img/one-tour/location.svg"
              alt="Location Icon"
            />
            <p class="services-all__text">Excursions on the Route</p>
          </div>
          <div class="services-all__part">
            <img
              class="svg__image"
              src="img/one-tour/breakfast.svg"
              alt="Breakfast Icon"
            />
            <p class="services-all__text">Breakfast in Procida</p>
          </div>
          <div class="services-all__part">
            <img
              class="svg__image"
              src="img/one-tour/wifi.svg"
              alt="Wi-Fi Icon"
            />
            <p class="services-all__text">WiFi</p>
          </div>
        </div>
      </section>
      <section class="additional-services">
        <h2 class="general__title">Additional Services</h2>
        <div class="additional-services-all">
          <div class="additional-services__part">
            <img
              class="svg__image"
              src="img/one-tour/meal.svg"
              alt="Meal Icon"
            />
            <p class="additional-services__text">Delicious Meals</p>
          </div>
          <div class="additional-services__part">
            <img
              class="svg__image"
              src="img/one-tour/drinks.svg"
              alt="Drinks Icon"
            />
            <p class="additional-services__text">Drinks</p>
          </div>
          <div class="additional-services__part">
            <img
              class="svg__image"
              src="img/one-tour/diver.svg"
              alt="Diving Icon"
            />
            <p class="additional-services__text">Diving Training</p>
          </div>
        </div>
      </section>
      <section class="what-our-guests-say">
        <h2 class="general__title">What our guests say</h2>

        <div class="what-our-guests-say-all-parts">
          <div class="what-our-guests-say__part">
            <figure>
              <img
                class="what-our-guests-say__image"
                src="img/one-tour/alice.jpg"
                alt="Alice Photo"
              />
              <figcaption class="what-our-guests-say__figcaption">
                Alice, 23 y.o.
              </figcaption>
            </figure>
            <h3 class="what-our-guests-say__title">Fascinating!</h3>
            <p class="what-our-guests-say__text">
              This was my first time visiting Italy, and it was incredible!
              Everything that they say about this country, its food, wine and
              people is true! Going there on a yacht was an even greater
              experience!
            </p>
          </div>
          <div class="what-our-guests-say__part">
            <figure>
              <img
                class="what-our-guests-say__image"
                src="img/one-tour/john.jpg"
                alt="John Photo"
              />
              <figcaption class="what-our-guests-say__figcaption">
                John, 32 y.o.
              </figcaption>
            </figure>
            <h3 class="what-our-guests-say__title">Te amo, Italy!</h3>
            <p class="what-our-guests-say__text">
              Thanks our Captain Jack and the whole crew for making this
              vacation unforgettable! I've booked the all-inclusive tour and
              didn't regret a single penny spent. I had a wonderful week in this
              sunny country.
            </p>
          </div>
          <div class="what-our-guests-say__part">
            <figure>
              <img
                class="what-our-guests-say__image"
                src="img/one-tour/georgeandtim.jpg"
                alt="George and Tim Photo"
              />
              <figcaption class="what-our-guests-say__figcaption">
                George and Tim, 30 y.o.
              </figcaption>
            </figure>
            <h3 class="what-our-guests-say__title">We will come back!</h3>
            <p class="what-our-guests-say__text">
              Italy is something totally incredible. We loved the food, the
              architecture, the bars and of course our yacht. We sailed with our
              friends on a private vessel and that was really great, we felt
              like billionaires.
            </p>
          </div>
        </div>
      </section>
      <section class="one-tour-contact__part">
        <div class="one-tour-contacts">
          <form
            id="contact-form"
            action="https://formspree.io/f/xrbzgopb"
            method="post"
          >
            <h3 class="one-tour-contacts__title">Want to Join Us?</h3>
            <p class="one-tour-contacts__text">
              Fill out the form and we will contact you soon to clear all the
              details and book a tour for you
            </p>
            <div class="one-tour-contacts__input-fields">
              <input
                class="one-tour-contacts__input"
                type="text"
                name="name"
                placeholder="Name*"
                required
              />
              <input
                class="one-tour-contacts__input"
                type="tel"
                name="phone"
                placeholder="Phone number*"
                required
              />
              <input
                class="one-tour-contacts__input"
                type="email"
                name="email"
                placeholder="E-mail*"
                required
              />
              <select class="one-tour-accomodation" name="accommodation">
                <option value="" selected aria-required="true">
                  Choose the accommodation*
                </option>
                <option class="one-tour-variant__option" value="cabin">
                  Cabin
                </option>
                <option class="one-tour-variant__option" value="yacht">
                  Yacht
                </option>
              </select>
              <input
                class="one-tour-contacts__submit"
                type="submit"
                value="Send a Request"
              />
            </div>
          </form>
        </div>
      </section>
    </main>
    <footer>
      <nav
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="footer.partial.html"
      ></nav>
    </footer>
    <script src="js/one-tour.js"></script>
  </body>
</html>
